.a{
	display: inline-block;
}

.content{
	position: relative;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.wrap{
	position: relative;
}

.detail-page-layer{
	z-index : 1000;
	position: fixed;
	top : 0;
	left : 0;
	width: 100%;
	height: 100%;
	background-color: white;
	overflow: scroll;
}

.title  {
    margin-bottom: 50px;
}